.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

%fab {
    position: absolute;
    margin: 1em;
}
.fab-top-right {
    @extend %fab;
    top: 0;
    right: 0;
}
.fab-top-left {
    @extend %fab;
    top: 0;
    left: 0;
}
.fab-bottom-left {
    @extend %fab;
    bottom: 0;
    left: 0;
}
.fab-bottom-right {
    @extend %fab;
    bottom: 0;
    right: 0;
}

.full-height {
    min-height: 100vh;
}

.full-width {
    min-width: 100vw;
}

.clearfix {
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

@include media-query(palm) {
    .hidden-palm {
        display: none !important;
    }
}
