.brick {
    display: inline-block;
    margin-left: 1em;
    &:nth-child(1) {
        margin-left: 0;
    }
}
.brick-row {
    margin-bottom: .5em;
    &:nth-last-child(1) {
        margin-bottom: 0;
    }
}