.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.inline-block {
  display: inline-block;
  vertical-align: middle; }

.fab-top-right, .fab-top-left, .fab-bottom-left, .fab-bottom-right {
  position: absolute;
  margin: 1em; }

.fab-top-right {
  top: 0;
  right: 0; }

.fab-top-left {
  top: 0;
  left: 0; }

.fab-bottom-left {
  bottom: 0;
  left: 0; }

.fab-bottom-right {
  bottom: 0;
  right: 0; }

.full-height {
  min-height: 100vh; }

.full-width {
  min-width: 100vw; }

.clearfix:after {
  display: block;
  clear: both;
  content: ''; }

@media screen and (max-width: 719px) {
  .hidden-palm {
    display: none !important; } }

.brick {
  display: inline-block;
  margin-left: 1em; }
  .brick:nth-child(1) {
    margin-left: 0; }

.brick-row {
  margin-bottom: .5em; }
  .brick-row:nth-last-child(1) {
    margin-bottom: 0; }

.header {
  margin-top: 5em;
  margin-bottom: 2.5em; }

.footer {
  margin-top: 2.5em; }

.main__wrapper {
  height: 100%;
  overflow: auto; }

.xchange-form.ui.form {
  max-width: 800px;
  margin: 2em auto; }

.xchange-form__input.no-focus {
  margin-top: 22px !important; }
  @media screen and (max-width: 719px) {
    .xchange-form__input.no-focus {
      margin-top: .5em; } }
  .xchange-form__input.no-focus input:hover, .xchange-form__input.no-focus input:active, .xchange-form__input.no-focus input:focus {
    border-color: rgba(34, 36, 38, 0.15) !important; }

.ui.form .xchange-form__input > label {
  color: rgba(0, 0, 0, 0.68);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem; }

.xchange-form__icon.large.icon {
  margin: 0 0.5em !important;
  line-height: 4em; }
  @media screen and (max-width: 719px) {
    .xchange-form__icon.large.icon {
      display: none; } }

.xchange-form__submit {
  max-width: 80%;
  min-width: 40%;
  margin: 0 auto !important; }
  @media screen and (max-width: 719px) {
    .xchange-form__submit {
      min-width: 80%; } }
